{% extends "@root/layout/base.twig" %}

{% block styles %}
  <link rel="stylesheet" href="/src/assets/entry/index/index.scss">
{% endblock %}

{% block content %}
  <button type="button" class="check-popup">
    нажми для открытия попапа
  </button>

  <div class="check-svg">
    <svg class="check-svg__svg">
      <use xlink:href="/sprite.svg#plus"></use>
    </svg>
  </div>

  <div class="check-animations">
    <div class="check-animations__animation animation-fade-in-up">
      animation-fade-in-up
    </div>

    <div class="check-animations__animation animation-fade-show">
      animation-fade-show
    </div>

    <div class="check-animations__animation animation-up-split">
      animation up split
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="module" src="/src/assets/entry/index/index.ts"></script>
{% endblock %}
