{% extends "@root/layout/base.twig" %}

{% block styles %}
  <link rel="stylesheet" href="/src/assets/entry/index/index.scss">
{% endblock %}

{% block content %}
  <button type="button" class="check-popup">
    нажми для открытия попапа
  </button>
{% endblock %}

{% block scripts %}
  <script type="module" src="/src/assets/entry/index/index.ts"></script>
{% endblock %}
